body{font-family:"sans-serif"}button{border:1px solid #666;border-radius:30%;color:#336}.btn,button{margin:3px;padding:2px 5px;box-shadow:0 2px 2px #999}.btn{border:1px solid #666;border-radius:50%;color:#33f}.btn,.btn:disabled{background-color:#abcdef}.btn:disabled{border:0;box-shadow:0 2px 2px #ddd;color:#aaa}.red:disabled{color:#633;background-color:#ce4e63;font-weight:700}.none{display:none}.block{display:block}
/*# sourceMappingURL=main.750840bb.chunk.css.map */